header{
    border: solid 5px;
    background-color: brown;
    height: 205px;
    margin-bottom:20px ;
    margin-top:20px ;
    margin-left: 10px;
    margin-right:10px ;
}

main{
    display:flex;
    height: 205px;
    margin-left: 10px;
    margin-right:10px ;
  
}
.one{
       
    flex-basis: 30%;
    background-color:blue;
    border: solid 5px;
    margin-right: 20px;
    
}
.two{
   
    flex-basis: 70%;
    background-color: aquamarine;
    border: solid 5px;
    margin-left: 20px;
    
    
    
}
footer{
    border: solid 5px;
    background-color:blueviolet;
    height: 205px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px ;
}